@import "variables";
@import "~@coreui/coreui/scss/coreui";
@import "~simple-line-icons/scss/simple-line-icons";
@import "~font-awesome/scss/font-awesome";

main {
    & > .container {
        padding: 80px 15px 0;
    }
}

.main {
    .container-fluid {
        padding: 0 20px;
    }
}

.controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;

    & > * {
        margin-right: 4px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.box {
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
}

.table {
    th,
    td {
        vertical-align: middle;
    }
}

.badge {
    padding: 0.28em 0.4em 0.22em 0.4em;
    line-height: 1.1;
}

.card {
    &> .table-bordered {
        border: none;
        margin-top: -1px;

        th:first-child, td:first-child {
            border-left: none;
        }

        th:last-child, td:last-child {
            border-right: none;
        }

        th, td {
            border-bottom: none;
        }
    }
}

pre {
    padding: 9.5px;
    margin-bottom: 1rem;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f6f6f6;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
}

.table.calendar > tbody > tr > td {
    padding: 0;
    vertical-align: top;

    &.muted {
        background: #f6f6f6;
    }

    .day {
        min-height: 100px;
        padding: 0 4px;

        .item {
            background: #ffffdd;
            border: 1px solid #ddd;
            border-radius: 4px;
            margin: 4px 0;
            padding: 8px;

            .header {
                margin-bottom: 4px;
            }

            .link {
                line-height: 1.2;
            }
        }
    }
}

@import "chat";

.direct-chat-action {
    padding: 0 0 10px 50px;
    font-size: .8rem;
}

.footer {
    background-color: #f5f5f5;

    & > .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
.btn-delete{
    padding: 27px;
}
.add_beds{
    padding: 27px;
}
.add_beds_new{
    padding: 27px;
}
.new_select>.form-check{
    float: left;
    margin: 15px;
}
.add_client{
    padding: 27px;
}