{% extends 'base.html.twig' %}
{% block title %}Commands{% endblock %}
{% block body %}
    <div class="card">
        {% for division in divisions %}
        <div class="card-body">
            <form action="{{ path('command.generate', {'id': division.id}) }}" method="post" onsubmit="return confirm('Are you sure?')">
                <input type="hidden" name="token" value="{{ csrf_token('generate') }}" />
                <button type="submit" class="btn btn-success">Generate {{ division.name }}</button>
            </form>
        </div>
        {% endfor %}
        <div class="card-body">
            <form action="{{ path('command.playoff') }}" method="post" onsubmit="return confirm('Are you sure?')">
                <input type="hidden" name="token" value="{{ csrf_token('generate') }}" />
                <button type="submit" class="btn btn-success">Generate Playoff</button>
            </form>
        </div>
    </div>
    <div class="box">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
            </tr>
            <tbody>
            {% for command in commands %}
                <tr>
                    <td>{{ command.id }}</td>
                    <td>{{ command.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
