{% extends 'base.html.twig' %}
{% block title %}Commands{% endblock %}
{% block body %}
    <div class="box">
        <h1>Final</h1>
            {% for game in games %}
                {% if game.game_type_name == 'final' %}
        <div><span>{{ game.command_name_1 }}  - </span><span>{{ game.command_name_2 }}  - </span><span>{{ game.goals_1 }} : </span><span>{{ game.goals_2 }}</span></div>
                {% endif %}
            {% endfor %}
        <h1>Third Place</h1>
        {% for game in games %}
            {% if game.game_type_name == 'third place game' %}
            <div><span>{{ game.command_name_1 }}  - </span><span>{{ game.command_name_2 }}  - </span><span>{{ game.goals_1 }} : </span><span>{{ game.goals_2 }}</span></div>
            {% endif %}
        {% endfor %}
        <h1>Semi Final</h1>
        {% for game in games %}
            {% if game.game_type_name == 'semi final' %}
               <div><span>{{ game.command_name_1 }}  - </span><span>{{ game.command_name_2 }}  - </span><span>{{ game.goals_1 }} : </span><span>{{ game.goals_2 }}</span></div>
            {% endif %}
        {% endfor %}
        <h1>Quater Final</h1>
        {% for game in games %}
            {% if game.game_type_name == 'quarter final' %}
                <div><span>{{ game.command_name_1 }}  - </span><span>{{ game.command_name_2 }}  - </span><span>{{ game.goals_1 }} : </span><span>{{ game.goals_2 }}</span></div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
