{% extends 'base.html.twig' %}
{% block title %}Commands{% endblock %}
{% block body %}
    <div class="box">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Command Name</th>
                <th>Total Game</th>
                <th>Win</th>
                <th>Defeat</th>
                <th>Goals Scored</th>
                <th>Goals Conceded</th>
            </tr>
            <tbody>
            {% for command in commands %}
                <tr>
                    <td>{{ command.command_name }}</td>
                    <td>{{ command.total_game }}</td>
                    <td>{{ command.sum_win }}</td>
                    <td>{{ command.sum_defeat }}</td>
                    <td>{{ command.goals_scored }}</td>
                    <td>{{ command.goals_conceded }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
